.section-title {
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    color: #FE92C0;
    margin-bottom: 1.5rem;
    font-weight: 700;
}

@media (max-width: 968px) {
    .section-title {
        font-size: 2rem;
    }
}

@media (max-width: 600px) {
    .section-title {
        font-size: 2rem;
    }
}

